.content-wrapper {
  padding: 2rem;
  height: 400px;
}
.quack-track-logo {
  width: 50%;
}
.quack-track-info {
  margin-top:10%;
}
.quack-track-info img {
  margin-bottom: 15%;
}
.quack-track-info h2 {
  margin-bottom: 10%;
}

.form label {
  font-weight:600;
}
.form button {
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.form button:focus {
  box-shadow:none;
}
.form input, .form textarea {
  padding: 9px;
  border: solid 1px #86A8E7;
  outline: 0;
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #86A8E7), to(#FFFFFF));
  background: -moz-linear-gradient(top, #91EAE4, #86A8E7 1px, #7F7FD5 25px);
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
.form button:hover {
    background: #3379b7;
}
